<section class="book-section">
  <a
    href="https://online.flippingbook.com/view/274766968/"
    class="fbo-embed"
    data-fbo-id="43ec210cb6"
    data-fbo-ratio="3:2"

    data-fbo-width="82%"
    data-fbo-height="auto"
    data-fbo-version="1"
    style="max-width: 100% ;">Book Store</a>
</section>
<script
  async
  defer
  src="https://online.flippingbook.com/EmbedScriptUrl.aspx?m=redir&hid=274766968"></script>