<section class="book-section">
  <a
    href="https://online.flippingbook.com/view/299641678/"
    class="fbo-embed"
    data-fbo-id="a3dcb384b2"
    data-fbo-ratio="3:2"
    data-fbo-lightbox="yes"
    data-fbo-width="80%"
    data-fbo-height="170%"
    data-fbo-version="1"
    style="max-width: 100%">Book App</a>


</section>
<script
  async
  defer
  src="https://online.flippingbook.com/EmbedScriptUrl.aspx?m=redir&hid=299641678"></script>