<section class="section-bottom">
  <div class="section-drop">
    <div class="section-icon">
      <i class="fa-solid fa-circle-question"></i>
      <h2 class="bottom-text-1">How do I get started?</h2>
    </div>
    <p class="bottom-below">You can get started by contacting us to discuss your project.Our team is assist you in create a stunning welcome book for your Airbnb property.</p>
  </div>
  <div class="section-drop">
    <div class="section-icon">
      <i class="fa-solid fa-circle-question"></i>
      <h2 class="bottom-text">How Long does it take to design a welcome book?</h2>
    </div>

    <p class="bottom-below">Typically , our design takes about 2-5 days.However, the exact timeline can vary depending on your specific requirements the level of customixation required.</p>
  </div>
  <div class="section-drop">
    <div class="section-icon">
      <i class="fa-solid fa-circle-question"></i>
      <h2 class="bottom-text-2">Can I request changes to the design ?
      </h2>
    </div>

    <p class="bottom-below">Absolutely , We provide oppurtunities for review process to ensure that the final product meet the expectations .Our team wii be in contact 24*7 to help with your requests.</p>
  </div>
  <div class="section-drop">
    <div class="section-icon">
      <i class="fa-solid fa-circle-question"></i>
      <h2 class="bottom-text-3">Can I Update the welcome book in the future?</h2>
    </div>

    <p class="bottom-below">Yes, we offer engaging support and updates to your welcome back to ensure it remains accurate and relevant.The updated can be pushed and accessed ant time you want in real time.</p>
  </div>
  <div class="section-drop">
    <div class="section-icon">
      <i class="fa-solid fa-circle-question"></i>
      <h2 class="bottom-text-4">Do you offer the welcome book in other languages?.</h2>
    </div>

    <p class="bottom-below">We, do offer localized content and language support as an additional service.Please let us know if you require the service.</p>
  </div>
  <div class="section-drop">
    <div class="section-icon">
      <i class="fa-solid fa-circle-question"></i>
      <h2 class="bottom-text-5">What if I have multiple properties?</h2>
    </div>

    <p class="bottom-below">We can certainly accomodate multiple properties.Please contact us to discuss your specific needs and create a customized plan for you.</p>
  </div>
  <div class="section-drop">
    <div class="section-icon">
      <i class="fa-solid fa-circle-question"></i>
      <h2 class="bottom-text-6">What formats do tou provide the final welcome book in?</h2>
    </div>

    <p class="bottom-below">We provide both print ready and digital versions of your welcome book,your guests to access the information in their preferred format.</p>
  </div>
</section>