<div class="card-section">
  <section>
    <div class="card">
      <i class="fa-solid fa-star" style="color: #FFD700;"></i>
      <p class="card-text">Enhance You're Guest Experience</p>
    </div>
    <div class="footer-section">
      <p class="footer-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae illum sint tempore fugiat ipsum! Delectus, voluptate eligendi. Libero, quibusdam quas!</p>
    </div>
  </section>
  <section>
    <div class="card">
      <i class="fa-solid fa-message" style="color: blue;"></i>
      <h3 class="card-text">Boost Positive Reviews</h3>
    </div>
    <div class="footer-section">
      <p class="footer-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae illum sint tempore fugiat ipsum! Delectus, voluptate eligendi. Libero, quibusdam quas!</p>
    </div>
  </div>

</section>