<section class="section-contact">
  <div class="contact-card">
    <i
      id="screen-icon"
      class="fa-solid fa-mobile-screen-button"
      style="color: #000000;"></i>
    <p class="card-head">...</p>
    <p class="contact-text">M-Fi 8am-5pm , S-S 10am-5pm</p>
  </div>
  <div class="contact-card-1">
    <i class="fa-regular fa-envelope"></i>
    <p class="card-head-1">hello@**.com</p>
    <p class="contact-text">Email us anytime</p>
  </div>

</section>