<section class="section-payment">

  <div class="section-rate">
    <h1 class="payment-text">Airbnb Welcome Back</h1>
    <h1 class="price-tag">$199
      <span class="span-price-tag">.95</span>
    </h1>

    <ul>
      <li>Customized Design</li>
      <li>User Friendly Layout</li>
      <li>Quick Turnaroung time</li>
      <li>Ongoing support and updates</li>
    </ul>
  </div>
  <div class="section-button-payment">
    <button class="btn-paypal">
      <i id="paypal" class="fab fa-paypal"></i>
      <span class="paypal-name">PayPal</span>
    </button><br/>
    <button class="btn-eps">
      <i
        id="eps"
        class="fa-solid fa-lock"
        style="color: #ffffff;"></i>
      <span class="eps-name">eps</span>
    </button><br/>
    <button class="btn-soft">
      <i
        id="soft"
        class="fa-solid fa-money-bill-transfer"
        style="color: #ffffff;"></i>
      <span class="soft-name">Sofort</span>
    </button><br/>
    <button class="btn-credit">
      <i
        id="credit"
        class="fa-solid fa-wallet"
        style="color: #ffffff;"></i>
      <span class="soft-credit">Credit & Debit Card</span>
    </button><br/>
    <secion class="paypal-tag">
      <span class="pypl-text">Powered By</span>
      <img class="pypl-image" src="{{'paypal.ico' | asset_url}}" />
    </secion>
  </div>
</section>