<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body>
    <main class="section">
      <div class="section-text">
        <h1 class="heading-text">Create a Professional
          <br/>
          welcome book that will<br/>
          <p class="special-text">
            boost your bookings</p>
          <h1 class="heading-text">even if you're not a <br/> design expert!</h1>
        </h1>
        <section class="secondary-text-section">
          <p class="text-bottom">Transform you're guest experience with a stunning <br/>
            welcome book that leaves a lasting impression
          </p>
        </section>
        <section class="section-button">
          <button>
            Learn More
          </button>
        </section>
      </div>
      <div>
        <img src="{{'image.jpg'| asset_url}}" />
      </div>

    </main>
  </body>
</html>