<section class="section-work-card">
  <div>
    <h1 class="work-number">01</h1>
    <h3 class="work-head">Consultation & Planning</h3>
    <p class="work-para">Contact us to discuss your project share your vision for your welcome back</p>
  </div>
  <div>
    <h1 class="work-number">02</h1>
    <h3 class="work-head">Designing</h3>
    <p class="work-para">You're Talented team will create an eye catching design that reflects your property'sunique style</p>
  </div>
  <div>
    <h1 class="work-number">03</h1>
    <h3 class="work-head">Review & Delivery</h3>
    <p class="work-para">Once You're satsfied with the design and content , we'll propose the final files for you're welcome back</p>
  </div>
</section>

<section class="work-button">
  <button class="work-button">Get Started</button>
</section>